/* Estilo para ocultar los elementos de la navegación */
.nav-items {
    list-style-type: none; /* Quita los estilos de la lista */
    padding: 0; /* Elimina el padding predeterminado de la lista */
}

.nav-items li {
    display: inline-block; /* Mostrar elementos de navegación en línea */
    margin-right: 10px; /* Espacio entre elementos de navegación */
}

.nav-items li a {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: #000; /* Color de texto para los enlaces */
    padding: 5px 10px; /* Espaciado interno de los enlaces */
    border: 1px solid #000; /* Borde alrededor de los enlaces */
    border-radius: 5px; /* Borde redondeado */
    background-color: #f0f0f0; /* Color de fondo de los enlaces */
}

.nav-items li a:hover {
    background-color: #ccc; /* Color de fondo al pasar el cursor sobre los enlaces */
}

#noInternetButton {
    display: none; /* Inicialmente ocultar el botón "No hay internet" */
    text-decoration: none; /* Quitar subrayado predeterminado */
    color: #000; /* Color de texto */
    padding: 5px 10px; /* Espaciado interno */
    border: 1px solid #000; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    background-color: #f0f0f0; /* Color de fondo */
}
